html {
    background-image: url('https://image.freepik.com/free-vector/farm-with-barn_1196-526.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
}

body {
    font-family: 'Bangers', cursive;
}

#bgCanvas {
    z-index: -1;
    padding: 0px;
    margin: auto;
    display: block;
    position: relative;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 5px;
    opacity: 1.0;
    border: 5px solid #fded00;
}

#fgCanvas {
    z-index: 1;
    padding: 0px;
    margin: auto;
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    color: Red;
    font-size: 30px;
}

.game-title {
    text-align: center;
    font-size: 50px;
    color: #edcccc;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
    min-width: 450px;
    display: block;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    margin-bottom: 10px;
}

.creator { 
    font-size: 25px;
}

.game-title p {
    font-size: 18px;
}

.canvas-container {
    padding-top: 5px;
    position: relative;
    /* top: 100px;
    left: 0px; */
    height: 100%;
    width: 100%;
}